<div class="main">
    <div class="container">
        <header>
            <h4>Adicionar Despesas</h4>
        </header>
        <div class="form">
            <div class="form-info">
                <p>Data</p>
                <input type="date">
                <p>Categoria</p>
                <input type="text">
                <p>Quantidade</p>
                <input type="number">
                <p>Titulo</p>
                <input type="text">

                <input class="large-txt" type="text" placeholder="Digite a mensagem">

                <button>Salvar</button>
            </div>
        </div>
    </div>
</div>