<div class="main">
    <div class="container">
        <header>
            <h4>Adicionar Despesas</h4>
        </header>
        <div class="form">
            <form [formGroup]="form" class="form-info">
                <!-- <p>Data</p>
                <input type="date" formControlName="date"> -->
                <p>Categoria</p>
                <input type="text" formControlName="category">
                <p>Quantidade</p>
                <input type="number" formControlName="amount">
                <p>Titulo</p>
                <input type="text" formControlName="name">
                <!-- <p>Descrição</p>
                <input class="large-txt" type="text" placeholder="Digite a mensagem" formControlName="description"> -->

                <button (click)="onSubmit()">Salvar</button>
            </form>
        </div>
    </div>
</div>
