<div class="main">
    <div class="container">
        <header>
            <h5>Olá, Bem vindo de Volta!</h5>
            <div class="balanco-geral">
                <div class="bal-exp">
                    <div class="balance">
                        <p>Balanço Total</p>
                        <p class="bal">{{'R$' + '7.783,51'}}</p>
                    </div>
                    <div class="expensive">
                       <p> Despesa Total</p>
                       <p class="exp">{{'-R$' + '1.235,01'}}</p>
                    </div>
                </div>
                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 25%"></div>
                  </div>
            </div>
        </header>
        <div class="general-informations">

        </div>
    </div>
</div>